<div id="list_filter" style="display:none" title="<%= t('filter_by') %>">
  <div class="dialog_content">
    <div class="dialog_form mod_size_1">

      <gf-text-input
      id="'Name'"
	    p-title="'<%= t('name') %>'"
      dl-class="" containers-class="" field-class="'default_mod'"
      model="filter.name"></gf-text-input>

      <dl class="form_sub_cell">
        <dt class="form_sub_cell_hline"><%= t('location') %></dt>
        <dd class="form_sub_cell_wrap">
          <div class="form_block hor_mod location_mod">
            <dl class="form_cell form_cell_v1_mod full_mod">
              <dt class="form_c_hline form_v1_mod hline_hide_mod">
                <label for="Country_filter_map">Country</label>
              </dt>
              <dd class="form_c_f_w form_v1_mod hline_hide_mod">
                <ui-select ng-model="filter.country" name="Country" theme="selectize">
                  <ui-select-match placeholder="<%= t('country') %>">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="country.name as country in countries |  filter: $select.search">
                  	<div ng-bind-html="country.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </dd>
            </dl>
            <gf-text-input
            class="form_cell form_cell_v1_mod half_mod location_mod"
            id="'State_filter_map'"
			    	p-title="'<%= t('state') %>'"
            dl-class="''" containers-class="" field-class="'default_mod'"
            model="filter.state"></gf-text-input>

            <gf-text-input
            class="form_cell form_cell_v1_mod half_mod location_mod"
            id="'City_filter_map'"
			      p-title="'<%= t('city') %>'"
            dl-class="''" containers-class="" field-class="'default_mod'"
            model="filter.city"></gf-text-input>
          </div>
        </dd>
      </dl>
      <dl class="form_sub_cell">
        <dt class="form_sub_cell_hline"><%= t('filter_by_product_category_and_products') %></dt>
        <dd class="form_sub_cell_wrap hor_mod third_mod">
          <dl class="form_cell form_cell_v1_mod select_add_product">
            <dt class="form_c_hline form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
              <label for="Enter_name_of_category"><%= t('select_products') %></label>
            </dt>
            <dd class="form_c_f_w form_v1_mod hline_hide_mod autocomplete_el_v1_mod" id="filter_multiselect_container">
              <select gf-multiselect data='products' gf-placeholder='<%= t('select_products') %>' gf-class='gf_multiselect' ng-model="filter.product_ids" multiple="multiple" class="f_c_field default_mod select_add_category normal_list_v2"
                ng-options="opt.name group by opt.product_category for opt in products | orderBy:'product_category' track by opt.id" >
              </select>
            </dd>
          </dl>
        </dd>
      </dl>
      <dl class="options_block second_mod">
        <dt class="options_b_hline second_mod"><%= t('filter_by_status') %></dt>
        <dd class="options_b_value_item">
          <ul class="options_b_value_list">
            <li class="options_b_value_l_item">
              <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                <input name="filter_status" type="checkbox" class="lbl_inp_rb_ch" ng-model="filter.compliant_status.compliant"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_white_mod">Compliant</span>
              </label>
            </li>
            <li class="options_b_value_l_item">
              <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                <input name="filter_status" type="checkbox" class="lbl_inp_rb_ch" ng-model="filter.compliant_status.warning"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_white_mod">Warning</span>
              </label>
            </li>
            <li class="options_b_value_l_item">
              <label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
                <input name="filter_status" type="checkbox" class="lbl_inp_rb_ch" ng-model="filter.compliant_status.non_compliant"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_white_mod">Non-Compliant</span>
              </label>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  <footer class="dialog_footer mod_size_1">
    <div class="dialog_cancel_butt"><%= t('cancel') %></div>
    <div class="map_filter_reset_butt" ng-click="reset()"><%= t('reset') %></div>
    <div class="map_filter_update_butt" ng-click="search()"><%= t('update') %></div>
  </footer>
</div>
<div class="content_block full_page">
	<div class="tabs_v1">
		<ul class="dialog_tab_list white_mod">
			<li class="dialog_tab_l_item white_mod requirements_mod">
				<a href="#tab_1" title="" class="dialog_tab_1_butt white_mod "><%= t('my_suppliers') %></a>
			</li>
			<li class="dialog_tab_l_item white_mod requirements_mod">
				<a href="#tab_2" title="" class="dialog_tab_1_butt white_mod "><%= t('my_customers') %></a>
			</li>
		</ul>
		<div id="tab_1" class="tab_block">
			<header class="add_info_main_header mod_static_two">
				<h1 class="content_headline requirements_mod"><%= t('suppliers_for') %></h1>
				<dl class="form_cell form_cell_v1_mod requirements_mod">
					<dt class="form_c_hline form_v1_mod hline_hide_mod requirements_mod">
						<label for="select_company_operation"><%= t('suppliers_for') %></label>
					</dt>
					<dd class="form_c_f_w form_v1_mod hline_hide_mod appearance_mod requirements_mod">
						<select id="select_company_operation" class="f_c_field third_mod white_bg_mod appearance_mod" ng-model="selected"
						ng-options="opt.name for opt in company_operations track by opt.uuid" ng-change="getSupplyChain(selected)">
						</select>
					</dd>
				</dl>
				<a class="wizard_add_butt_v2 list_filter_butt"><%= t('filter') %></a>
			</header>
			<div class="table_wrap requirements_mod">
				<table class="table_style_one">
					<thead>
						<tr>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'name', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('name') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'city', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('city') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'state', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('state') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'country', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('country') %></th>
							<th>Mine</th>
							<th>Upstream</th>
							<th><%= t('requirement_detail') %></th>
						</tr>
					</thead>
					<tr ng-repeat="supplier in suppliers">
						<td>{{supplier.name}}</td>
						<td>{{supplier.city}}</td>
						<td>{{supplier.province}}</td>
						<td>{{supplier.country}}</td>
						<td style="padding-left: 15px;"><span ng-class="supplier.compliant_status" class="list_view_compliant_status">{{status(supplier.compliant_status)}}</span></td>
						<td style="padding-left: 15px;"><span ng-class="supplier.downstream_compliance_status" class="list_view_compliant_status">{{status(supplier.downstream_compliance_status)}}</span></td>
						<td><a id="requirement_detail_link" href="#/requirement_detail_view?supplier_id={{supplier.entity_id}}&supplier_type={{supplier.type}}&buyer_id={{buyer.id}}&buyer_type={{buyer.type}}&requirement_type=supplier"><%= t('view') %></a></td>
					</tr>
				</table>
			</div>
			<footer class="table_footer requirements_mod">
				<div class="pagination_container"></div>
				<dl class="form_cell form_cell_v1_mod hor_mod view_count_mod ">
					<dt class="form_c_hline form_v1_mod hl_hor_mod">
						<label for="count"><%= t('view') %>:</label>
					</dt>
					<dd class="form_c_f_w form_v1_mod hline_hide_mod hor_mod appearance_mod view_count_mod">
						<select id="count" class="f_c_field third_mod white_bg_mod appearance_mod" ng-model="filter.per_page" ng-change="search()">
							<option value="6">6</option>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</dd>
				</dl>
			</footer>
		</div>
		<div id="tab_2" class="tab_block">
			<header class="add_info_main_header mod_static_two">
				<h1 class="content_headline requirements_mod"><%= t('customers_for') %></h1>
				<dl class="form_cell form_cell_v1_mod requirements_mod">
					<dt class="form_c_hline form_v1_mod hline_hide_mod requirements_mod">
						<label for="select_company_operation"><%= t('customers_for') %></label>
					</dt>
					<dd class="form_c_f_w form_v1_mod hline_hide_mod appearance_mod requirements_mod">
						<select id="select_company_operation" class="f_c_field third_mod white_bg_mod appearance_mod" ng-model="selected"
						ng-options="opt.name for opt in company_operations track by opt.uuid" ng-change="getSupplyChain(selected)">
						</select>
					</dd>
				</dl>
				<a class="wizard_add_butt_v2 list_filter_butt"><%= t('filter') %></a>
			</header>
			<div class="table_wrap requirements_mod">
				<table class="table_style_one">
					<thead>
						<tr>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'name', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('name') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'city', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('city') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'state', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('state') %></th>
							<th ng-click="getSortedSupplyChain(filter.order_by = 'country', filter.order = filter.order == 'asc' ? 'desc' : 'asc')" ><%= t('country') %></th>
							<th><%= t('requirement_detail') %></th>
						</tr>
					</thead>
					<tr ng-repeat="buyer in buyers">
						<td>{{buyer.name}}</td>
						<td>{{buyer.city}}</td>
						<td>{{buyer.state}}</td>
						<td>{{buyer.country}}</td>
						<td><a id="requirement_detail_link" href="#/requirement_detail_view?supplier_id={{supplier.id}}&supplier_type={{supplier.type}}&buyer_id={{buyer.entity_id}}&buyer_type={{buyer.type}}&requirement_type=buyer"><%= t('view') %></a></td>
					</tr>
				</table>
			</div>
			<footer class="table_footer requirements_mod">
				<div class="pagination_container"></div>
				<dl class="form_cell form_cell_v1_mod hor_mod view_count_mod ">
					<dt class="form_c_hline form_v1_mod hl_hor_mod">
						<label for="count"><%= t('view') %>:</label>
					</dt>
					<dd class="form_c_f_w form_v1_mod hline_hide_mod hor_mod appearance_mod view_count_mod">
						<select id="count" class="f_c_field third_mod white_bg_mod appearance_mod" ng-model="filter.per_page" ng-change="search()">
							<option value="6">6</option>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</dd>
				</dl>
			</footer>
		</div>
	</div>
</div>