<form name="add_operation" novalidate>
  <div class="view_container">
	<div class="add_info_main_header">
	  <h1 class="content_headline" ng-if="!store.id"><%= t('add_an_operation') %></h1>
	  <h1 class="content_headline" ng-if="store.id"><%= t('view_or_edit_an_Operation') %></h1>
	  <a class="wizard_delete_butt" ><%= t('delete') %></a>
	  <a class="wizard_add_butt_v2" ng-click="createOperation(operation,add_operation)"><%= t('save') %></a>
	</div>
	<div id='operation_img_crop' style="display: none">
	  <div class="cropArea">
			<img-crop image="myImage" result-image="myCroppedImage">
		</img-crop>
	  </div>
	  <div>
			<div class="butt_save" ng-click="upload_operation_image()" style="margin: 0">
			  Crop
			</div>
	  </div>
	</div>
	<!-- block for operation name -->
	<gf-wizards-block
			ng-if="false"
	block-view="textarea"
	h-line="'<%= t('operation_name') %>'"
	f-content="store.name"
	required="true"
	id="'Enter_operation_name'"
	p-title="'<%= t('enter_operation_name') %>'"
	field-class="'default_mod'"
	model="operation.name"></gf-wizards-block>
	<div class="add_info_block" >
	  <div class="add_info_header">
			<div class="add_info_title required_mod"><%= t('operation_name') %></div>
			<div class="add_info_colapse_butt"></div>
	  </div>
	  <div class="add_info_content_block">
			<div class="add_info_content" ng-if="store.name">
			  <p>
				{{store.name}}
			  </p>
			</div>
			<div class="add_info_form_block">
			  <div class="add_info_form_w">

				<gf-text-input
				id="'Enter_operation_name'"
				p-title="'<%= t('enter_operation_name') %>'"
				dl-class="''"
				containers-class="''"
				field-class="'default_mod'"
				model="operation.name"></gf-text-input>

				<div class="category_wrap">
					<ul class="category_list">
					  <li class="category_list_item">
							<label class="lbl_rb_ch_block lbl_rb_ch_default_mod">
							  <input name="Featured" type="checkbox" class="lbl_inp_rb_ch" ng-model="operation.featured"><span class="lbl_rb_ch_text lbl_rb_ch_t_default_mod lbl_rb_ch_t_default_green_grey_mod ng-binding"><%= t('featured') %></span>
							</label>
					  </li>
					</ul>
			  	</div>
			  </div>
			</div>
	  </div>
	</div>
	<!-- end -->
	<!-- block to add operation business type -->
	<div class="add_info_block">
	  <div class="add_info_header">
			<div class="add_info_title required_mod">
			  <%= t('select_operations_type') %>
			</div>
			<div class="add_info_colapse_butt operation_box">
			</div>
	  </div>
	  <div class="add_info_content_block">
			<div class="add_info_content" ng-if="store.business_type.name">
			  <p>
				{{store.business_type.name}}
			  </p>
			</div>
			<div class="add_info_form_block operation_box">
			  <div class="add_info_form_w">
					<dl class="form_cell form_cell_v1_mod">
					  <dt class="form_c_hline form_v1_mod hline_hide_mod">
							<label for="Business_type">
							  <%= t('select_operations_type') %>
							</label>
					  </dt>
					  <dd class="form_c_f_w form_v1_mod hline_hide_mod autocomplete_el_v1_mod">
							<ui-select ng-model="operation.business_type_id" theme="selectize" ng-change="getOperationDefination({{$select.selected}})" ng-disabled="operation.id && store.business_type_id">
							  <ui-select-match placeholder="<%= t('select_an_business_type_in_the_list_or_search_its_name') %>">{{$select.selected.name}}</ui-select-match>
							  <ui-select-choices repeat="business_type.id as business_type in business_types |  filter: $select.search">
								<div ng-bind-html="business_type.name | highlight: $select.search"></div>
							  </ui-select-choices>
							</ui-select>
						{{operation.business_type_id}}
					  </dd>
					</dl>
			  </div>
			</div>
	  </div>
	</div>
	<!-- End block -->	
	<!-- block for operation image -->
	<div class="add_info_block upload_mod">
	  <div class="add_info_header">
		<div class="add_info_title">
		  <%= t('upload_operation_profile_picture') %>
		</div>
		<div class="add_info_colapse_butt">
		</div>
	  </div>
	  <div class="add_info_content_block">
		<div class="add_info_content" ng-if="store.profile_picture.profile_picture.url">
		  <a href="{{store.profile_picture.profile_picture.url}}" title="Click here to see file" class="file_link ng-scope" download><%= t('download_file') %></a>
		</div>
		<div class="add_info_form_block">
		  <div class="add_info_form_w">
			<dl class="form_cell form_cell_v1_mod">
			  <dt class="form_c_hline form_v1_mod hline_hide_mod">
				<label for="Upload_image">
				  Upload Image
				</label>
			  </dt>
			  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
				<input type="button" id="Upload_image" placeholder="<%= t('upload_image') %>" class="f_c_field default_mod file_mod" accept="image/*" ng-file-select ng-file-change="upload_image($files, $event)"/><span class="f_c_field_file_field"><span class="f_c_field_file_text">{{operation.profile_picture.filename || "Upload image"}}</span><span class="f_c_field_file_butt"><%= t('choose_file') %></span></span>
			  </dd>
			</dl>
		  </div>
		</div>
	  </div>
	</div>
	<!-- end -->
	<!-- block for operation description -->
	<div class="add_info_block">
	  <div class="add_info_header">
		<div class="add_info_title">
		  <%= t('description') %>
		</div>
		<div class="add_info_colapse_butt">
		</div>
	  </div>
	  <div class="add_info_content_block" style="whitespace:pre-line">
		<div class="add_info_content" ng-if="store.description">
		  <p style="white-space: pre-line;">
			{{store.description}}
		  </p>
		</div>
		<div class="add_info_form_block">
		  <div class="add_info_form_w">
			<dl class="form_cell form_cell_v1_mod">
			  <dt class="form_c_hline form_v1_mod hline_hide_mod">
				<label for="Enter_operation_name">
				  Enter Description
				</label>
			  </dt>
			  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
				<textarea id="Add_operation_description" placeholder="<%= t('description') %>" class="f_c_field default_mod textarea_mod_1 " ng-model="operation.description" style="white-space: pre-line;"></textarea>
			  </dd>
			</dl>
		  </div>
		</div>
	  </div>
	</div>
	<!-- end -->
	<!-- block for operation address -->
	<div class="add_info_block">
	  <div class="add_info_header">
		<div class="add_info_title">
		  <%= t('location') %>
		</div>
		<div class="add_info_colapse_butt">
		</div>
	  </div>
	  <div class="add_info_content_block">
		<div class="add_info_content" ng-if="
				store.address_attributes.street1
			   || store.address_attributes.street2
			   || store.address_attributes.city
			   || store.address_attributes.state
			   || store.address_attributes.country
			   || store.address_attributes.postal_code">
		  <p>
			{{location(
			store.address_attributes.street1,
			store.address_attributes.street2,
			store.address_attributes.city,
			store.address_attributes.state,
			store.address_attributes.country,
			store.address_attributes.postal_code)}}
		  </p>
		</div>
		<div class="add_info_form_block">
		  <div class="add_info_form_w">
			<div class="form_block hor_mod location_mod">

			  <gf-text-input
			  class="form_cell form_cell_v1_mod full_mod"
			  id="'Street1'"
			  p-title="'Street 1'"
			  dl-class="" containers-class="" field-class="'default_mod'"
			  model="operation.address_attributes.street1"></gf-text-input>
			  <gf-text-input
			  class="form_cell form_cell_v1_mod half_mod location_mod"
			  id="'Street2'"
			  p-title="'Street 2'"
			  dl-class="" containers-class="" field-class="'default_mod'"
			  model="operation.address_attributes.street2"></gf-text-input>

			  <dl class="form_cell form_cell_v1_mod half_mod location_mod">
				<dt class="form_c_hline form_v1_mod hline_hide_mod">
				  <label for="Country">
					Country
				  </label>
				</dt>
				<dd class="form_c_f_w form_v1_mod hline_hide_mod">
				  <ui-select ng-model="operation.address_attributes.country" name="Country" theme="selectize">
					<ui-select-match placeholder="Select a country">
					  {{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="country.name as country in countries |  filter: $select.search">
					  <div ng-bind-html="country.name | highlight: $select.search">
					  </div>
					</ui-select-choices>
				  </ui-select>
				</dd>
			  </dl>
			  <dl class="form_cell form_cell_v1_mod third_mod location_mod">
				<dt class="form_c_hline form_v1_mod hline_hide_mod">
				  <label for="State/Province">
					State/Province
				  </label>
				</dt>
				<dd class="form_c_f_w form_v1_mod hline_hide_mod">
				  <ui-select ng-model="operation.address_attributes.state" ng-show="operation.address_attributes.country=='United States'" name="State" theme="selectize" id="selectState">
					<ui-select-match placeholder="US state name">
					  {{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="state.name as state in states |  filter: $select.search">
					  <div ng-bind-html="state.name | highlight: $select.search">
					  </div>
					</ui-select-choices>
				  </ui-select>
				  <input type="text" id="State" placeholder="State/Province" class="f_c_field default_mod " ng-model="operation.address_attributes.state" ng-hide="operation.address_attributes.country=='United States'"/>
				</dd>
			  </dl>

			  <gf-text-input
			  class="form_cell form_cell_v1_mod third_mod location_mod"
			  id="'City'"
			  p-title="'City'"
			  dl-class=""
			  containers-class=""
			  field-class="'default_mod'"
			  model="operation.address_attributes.city"></gf-text-input>
			  <gf-text-input
			  class="form_cell form_cell_v1_mod third_mod location_mod"
			  id="'Postalcode'"
			  p-title="'Postal code'"
			  dl-class="" containers-class="" field-class="'default_mod'"
			  model="operation.address_attributes.postal_code">
			  </gf-text-input>

			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- end -->
	<!-- block for operation dynamic fields -->
	<div id="dynamic_content">
	  <content-item ng-repeat="definition in definitions" data="definition">
	  </content-item>
	</div>
	<!-- end -->
	<!-- block for operation additional information -->
	<div class="add_info_block">
	  <div class="add_info_header">
		<div class="add_info_title">
		  <%= t('additional_information') %>
		</div>
		<div class="add_info_colapse_butt">
		</div>
	  </div>
	  <div class="add_info_content_block">
		<div class="add_info_content" ng-if="store.additional_information">
		  <p>
			{{store.additional_information}}
		  </p>
		</div>
		<div class="add_info_form_block">
		  <div class="add_info_form_w">
			<dl class="form_cell form_cell_v1_mod">
			  <dt class="form_c_hline form_v1_mod hline_hide_mod">
				<label for="Enter_additional_information">
				  Enter Addtional Information
				</label>
			  </dt>
			  <dd class="form_c_f_w form_v1_mod hline_hide_mod">
				<textarea id="Enter_additional_information" placeholder="Enter Addtional Information" class="f_c_field default_mod textarea_mod_1 " ng-model="operation.additional_information"></textarea>
			  </dd>
			</dl>
		  </div>
		</div>
	  </div>
	</div>
	<!-- end -->
  </div>
</form>
